APP_NAME=OriBrink API
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=oribrink
POSTGRES_USER=oribrink
POSTGRES_PASSWORD=oribrink

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

SCHEDULER_HEARTBEAT_SECONDS=60

# RQData adapter config
RQDATA_MARKET=cn
# auto|uri|kwargs
RQDATA_AUTH_MODE=auto
# Preferred: direct uri, e.g. rqdata://license:<token>@rqdatad-pro.ricequant.com:16011
RQDATA_URI=
# Alternative license mode (uri will be generated automatically)
RQDATA_LICENSE=
RQDATA_HOST=rqdatad-pro.ricequant.com
RQDATA_PORT=16011
# kwargs mode, e.g. {"username":"...","password":"...","addr":"rqdatad-pro.ricequant.com:16011"}
RQDATA_INIT_KWARGS_JSON={}
